<%= link_to "Sign Up", new_user_path %>
<h1>Log In</h1>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :username %><br />
		<%= text_field_tag :username, params[:username] %>
	</div>

	<div class="field">
		<%= label_tag :password_digest %><br />
		<%= password_field_tag :password_digest %>
	</div>
	<div class="actions"><%= submit_tag "Log In" %> </div>
<% end %>